<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sample API For generate Layer token provider</title>
</head>
<body>
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Khanh Vu</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
